<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875602066861-91ukuu3ne13ot0lg194ub8isonota40h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875602066861-91ukuu3ne13ot0lg194ub8isonota40h</string>
	<key>API_KEY</key>
	<string>AIzaSyDoLaQPzaklmoZDceZ7J2_iCXaTmJ4o8Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>875602066861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benben.BBChat</string>
	<key>PROJECT_ID</key>
	<string>bbchat-ae479</string>
	<key>STORAGE_BUCKET</key>
	<string>bbchat-ae479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875602066861:ios:9e90dc2808c5a5ea32b524</string>
	<key>DATABASE_URL</key>
	<string>https://bbchat-ae479.firebaseio.com</string>
</dict>
</plist>